body {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding-bottom: 80px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-primary:focus, .btn-primary:active:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

footer {
    width: 100%;
    line-height: 60px;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}



html {
    min-height: 100%;
    position: relative;
    font-size: 14px;

}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn-primary {
    background-color: #1b6ec2;
    border-color: #1861ac;
    color: #fff !important;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-success {
    background-color: #28a745;
    color: #fff !important;
}

.navbar-nav .nav-link,
.navbar-brand {
    color: white !important;
}

.btn {
    color: white !important;
}

.navbar {
    background-color: #343a40 !important;
}

html, body {
    height: 100%;
}
